<div class="container" style="margin-left: 1%;">

  <mat-form-field class="example-full-width">
    <mat-label>Find By Name</mat-label>
    <input matInput placeholder="" [(ngModel)]="hqNameFind">
  </mat-form-field> &nbsp;

  <mat-form-field class="example-full-width">
    <mat-label>Find By Date</mat-label>
    <input matInput [matDatepicker]="picker" [(ngModel)]="hqDateFind">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field> &nbsp;

  <button mat-raised-button color="primary" (click)="findByParameter()">Filter</button>

</div>

<table mat-table [dataSource]=hqs class="mat-elevation-z8">

  <!-- Position Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="edition">
    <th mat-header-cell *matHeaderCellDef> Edition </th>
    <td mat-cell *matCellDef="let element"> {{element.edition}} </td>
  </ng-container>

  <ng-container matColumnDef="author">
    <th mat-header-cell *matHeaderCellDef> Author </th>
    <td mat-cell *matCellDef="let element"> {{element.author}} </td>
  </ng-container>

  <ng-container matColumnDef="publishingCompany">
    <th mat-header-cell *matHeaderCellDef> Publishing Company </th>
    <td mat-cell *matCellDef="let element"> {{element.publishingCompany}} </td>
  </ng-container>

  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> Date </th>
    <td mat-cell *matCellDef="let element"> {{element.date | localDateTime}} </td>
  </ng-container>

  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef> Action </th>
    <td mat-cell *matCellDef="let element">
      <button mat-raised-button color="primary" (click)="edit(element.id)"> Edit </button> &nbsp;
      <button mat-mini-fab color="warn" (click)="deleteHQByID(element.id)" aria-label="Delete">
        <mat-icon class="mat-18"> delete </mat-icon>
      </button>
    </td>
  </ng-container>


  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>

<mat-paginator [length]="100"
              [pageSize]="10"
              (page)="getServerData($event)">
</mat-paginator>
