.example-icon {
  padding: 0 14px;
}
.example-spacer {
  flex: 1 1 auto;
}
mat-toolbar mat-toolbar-row {
  height: 80px;
}
mat-toolbar mat-toolbar-row span{
  display: flex;
  justify-content: center;
  align-items: center;
}
mat-toolbar mat-toolbar-row span .home-icon {
  margin-right: 5px;
}
